@import '../preon/config/color';

.c-hamburger {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 2rem;
  width: 3rem;

  &__line {
    background-color: map-get($colors, 'grey');
    display: block;
    height: 3px;
    width: 100%;

    &:nth-child(1) {
      width: 80%;
    }

    &:nth-child(3) {
      width: 60%;
    }
  }

  &__line + &__line {
    margin-top: 4px;
  }
}
